.container {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-section-bg);
}

.title {
  color: var(--color-text-heading);
  font-size: var(--font-size-h2);
  margin-bottom: 0.5rem;
}
