.container {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
}

.container--light {
  border-color: var(--color-light-border);
  background-color: var(--color-light-section-bg);
}

.container--dark {
  border-color: var(--color-dark-border);
  background-color: var(--color-dark-section-bg);
}

.title {
  font-size: var(--font-size-h2);
  margin-bottom: 0.5rem;
}

.title--light {
  color: var(--color-light-text-heading);
}

.title--dark {
  color: var(--color-dark-text-heading);
}
