.container {
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
}

.container--light {
  border-color: var(--color-light-border);
  background-color: var(--color-light-section-bg);
}

.container--dark {
  border-color: var(--color-dark-border);
  background-color: var(--color-dark-section-bg);
}

.container > :not(:last-child) {
  margin-bottom: 1rem;
}

.title {
  font-size: var(--font-size-h2);
}

.title--light {
  color: var(--color-light-text-heading);
}

.title--dark {
  color: var(--color-dark-text-heading);
}

.price {
  font-size: var(--font-size-p);
}

.price--light {
  color: var(--color-light-text-p);
}

.price--dark {
  color: var(--color-dark-text-p);
}

.ingredients {
  font-size: var(--font-size-p);
}

.ingredients--light {
  color: var(--color-light-text-p);
}

.ingredients--dark {
  color: var(--color-dark-text-p);
}

.link {
  display: block;
  width: fit-content;
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  font-size: var(--font-size-button);
}

.link--light {
  border-color: var(--color-light-button-border);
  background-color: var(--color-light-button-bg);
  color: var(--color-light-button-text);
}

.link--dark {
  border-color: var(--color-dark-button-border);
  background-color: var(--color-dark-button-bg);
  color: var(--color-dark-button-text);
}
