.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
}

.text {
  margin-bottom: 0.5rem;
  color: var(--color-text-p);
  font-size: var(--font-size-p);
}
