.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
}

.text {
  margin-bottom: 0.5rem;
  font-size: var(--font-size-p);
}

.text--light {
  color: var(--color-light-text-p);
}

.text--dark {
  color: var(--color-dark-text-p);
}
