.popup {
  position: absolute;
  z-index: 1000;
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  font-size: var(--font-size-popup);
}

.popup--light {
  border-color: var(--color-light-popup-border);
  background-color: var(--color-light-popup-bg);
  color: var(--color-light-popup-text);
}

.popup--dark {
  border-color: var(--color-dark-popup-border);
  background-color: var(--color-dark-popup-bg);
  color: var(--color-dark-popup-text);
}
