.list {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 1rem;
}

.list--light {
  border-color: var(--color-light-border);
}

.list--dark {
  border-color: var(--color-dark-border);
}

@media not (min-width: 768px) {
  .list {
    overflow-x: visible;
    overflow-y: auto;
    flex-direction: column;
    width: auto;
    height: 25rem;
  }
}
