.button {
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
  font-size: var(--font-size-button);
  line-height: 1;
}

.button--light {
  border-color: var(--color-light-button-border);
  background-color: var(--color-light-button-bg);
  color: var(--color-light-button-text);
}

.button--dark {
  border-color: var(--color-dark-button-border);
  background-color: var(--color-dark-button-bg);
  color: var(--color-dark-button-text);
}

.button--disabled--light {
  border-color: var(--color-light-button-disabled-border);
  background-color: var(--color-light-button-disabled-bg);
  color: var(--color-light-button-disabled-text);
}

.button--disabled--dark {
  border-color: var(--color-dark-button-disabled-border);
  background-color: var(--color-dark-button-disabled-bg);
  color: var(--color-dark-button-disabled-text);
}
