.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  margin-top: 1rem;
}

.form--light {
  border-color: var(--color-light-border);
}

.form--dark {
  border-color: var(--color-dark-border);
}

.form > :not(:last-child) {
  margin-bottom: 1rem;
}
