.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
}

.container--light {
  border-color: var(--color-light-border);
}
.container--dark {
  border-color: var(--color-dark-border);
}

.count {
  margin: 0 0.5rem;
  color: var(--color-text-p);
  font-size: var(--font-size-p);
}

.count--light {
  color: var(--color-light-text-p);
}

.count--dark {
  color: var(--color-dark-text-p);
}
