.link {
  display: block;
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  text-decoration: none;
  font-size: var(--font-size-button);
}

.link--light {
  border-color: var(--color-light-button-border);
  background-color: var(--color-light-button-bg);
  color: var(--color-light-button-text);
}

.link--dark {
  border-color: var(--color-dark-button-border);
  background-color: var(--color-dark-button-bg);
  color: var(--color-dark-button-text);
}

.link--active--light {
  border-color: var(--color-light-button-disabled-border);
  background-color: var(--color-light-button-disabled-bg);
  color: var(--color-light-button-disabled-text);
}

.link--active--dark {
  border-color: var(--color-dark-button-disabled-border);
  background-color: var(--color-dark-button-disabled-bg);
  color: var(--color-dark-button-disabled-text);
}
