.list {
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
}

.list--light {
  border-color: var(--color-light-border);
}

.list--dark {
  border-color: var(--color-dark-border);
}

.list > :not(:last-child) {
  margin-bottom: 1rem;
}

.item {
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
}

.item--light {
  border-color: var(--color-light-border);
}

.item--dark {
  border-color: var(--color-dark-border);
}

.item > :not(:last-child) {
  margin-bottom: 0.5rem;
}

.text {
  font-size: var(--font-size-p);
}

.text--light {
  color: var(--color-light-text-p);
}

.text--dark {
  color: var(--color-dark-text-p);
}
