.item {
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
}

.item--light {
  border-color: var(--color-light-border);
}

.item--dark {
  border-color: var(--color-dark-border);
}

.item:not(:last-child) {
  margin-bottom: 1rem;
}

.item > :not(:last-child) {
  margin-bottom: 0.5rem;
}
