.container {
  padding: 1rem;
}

.container--light {
  background-color: var(--color-light-skeleton-bg);
}

.container--dark {
  background-color: var(--color-dark-skeleton-bg);
}

.title {
  width: 54px;
  height: 27px;
  margin-bottom: 1rem;
}

.title--light {
  background-color: var(--color-light-skeleton-inner-bg);
}

.title--dark {
  background-color: var(--color-dark-skeleton-inner-bg);
}

.list > :not(:last-child) {
  margin-bottom: 1rem;
}

.item {
  width: auto;
  height: 74px;
}

.item--light {
  background-color: var(--color-light-skeleton-inner-bg);
}

.item--dark {
  background-color: var(--color-dark-skeleton-inner-bg);
}
