.main {
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  margin: 0 1rem;
}

.main--light {
  border-color: var(--color-light-border);
  background-color: var(--color-light-main-bg);
}

.main--dark {
  border-color: var(--color-dark-border);
  background-color: var(--color-dark-main-bg);
}
