.container {
  padding: 1rem;
}

.container--light {
  background-color: var(--color-light-skeleton-bg);
}

.container--dark {
  background-color: var(--color-dark-skeleton-bg);
}

.container > :not(:last-child) {
  margin-bottom: 1rem;
}

.title {
  width: 210px;
  height: 38px;
}

.title--light {
  background-color: var(--color-light-skeleton-inner-bg);
}

.title--dark {
  background-color: var(--color-dark-skeleton-inner-bg);
}

.price {
  width: 75px;
  height: 22px;
}

.price--light {
  background-color: var(--color-light-skeleton-inner-bg);
}

.price--dark {
  background-color: var(--color-dark-skeleton-inner-bg);
}

.ingredients {
  width: 390px;
  height: 22px;
}

.ingredients--light {
  background-color: var(--color-light-skeleton-inner-bg);
}

.ingredients--dark {
  background-color: var(--color-dark-skeleton-inner-bg);
}

.link {
  display: block;
  width: 163px;
  height: 40px;
}

.link--light {
  background-color: var(--color-light-skeleton-inner-bg);
}

.link--dark {
  background-color: var(--color-dark-skeleton-inner-bg);
}
