.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text {
  color: var(--color-text-p);
  font-size: var(--font-size-p);
}

.rating {
  color: var(--color-star);
  font-size: var(--font-size-star);
}
