.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: var(--font-size-p);
}

.text--light {
  color: var(--color-light-text-p);
}

.text--dark {
  color: var(--color-dark-text-p);
}

.rating {
  font-size: var(--font-size-star);
}

.rating--light {
  color: var(--color-light-star);
}

.rating--dark {
  color: var(--color-dark-star);
}
