.header {
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  margin: 1rem;
}

.header--light {
  border-color: var(--color-light-border);
  background-color: var(--color-light-main-bg);
}

.header--dark {
  border-color: var(--color-dark-border);
  background-color: var(--color-dark-main-bg);
}

.title {
  float: left;
  font-size: var(--font-size-h1);
  cursor: pointer;
}

.title--light {
  color: var(--color-light-text-heading);
}

.title--dark {
  color: var(--color-dark-text-heading);
}

.container {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container > :not(:last-child) {
  margin-right: 1vw;
}
