.aside {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20vw;
  padding: 1rem;
  padding-right: 0;
}

.aside--light {
  background-color: var(--color-light-layout-bg);
}

.aside--dark {
  background-color: var(--color-dark-layout-bg);
}

.container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
}

.container--light {
  border-color: var(--color-light-border);
  background-color: var(--color-light-main-bg);
}

.container--dark {
  border-color: var(--color-dark-border);
  background-color: var(--color-dark-main-bg);
}

.container > :not(:last-child) {
  margin-bottom: 1rem;
}
