.aside {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20vw;
  padding: 1rem;
  padding-right: 0;
}

.container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-main-bg);
}

.container > :not(:last-child) {
  margin-bottom: 1rem;
}
