.footer {
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  margin: 1rem;
}

.footer--light {
  border-color: var(--color-light-border);
  background-color: var(--color-light-main-bg);
}

.footer--dark {
  border-color: var(--color-dark-border);
  background-color: var(--color-dark-main-bg);
}

.copyright {
  text-align: center;
  font-size: var(--font-size-p);
}

.copyright--light {
  color: var(--color-light-text-p);
}

.copyright--dark {
  color: var(--color-dark-text-p);
}

.address {
  text-align: center;
  font-size: var(--font-size-p);
}

.address--light {
  color: var(--color-light-text-p);
}

.address--dark {
  color: var(--color-dark-text-p);
}
