.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
}

.container--light {
  border-color: var(--color-light-border);
  background-color: var(--color-light-section-bg);
}

.container--dark {
  border-color: var(--color-dark-border);
  background-color: var(--color-dark-section-bg);
}

.name {
  margin-right: 0.5rem;
  font-size: var(--font-size-p);
}

.name--light {
  color: var(--color-light-text-p);
}

.name--dark {
  color: var(--color-dark-text-p);
}
