.tooltip {
  position: absolute;
  z-index: 1000;
  padding: 0.5rem;
  border: 1px solid var(--color-tooltip-border);
  border-radius: 5px;
  background-color: var(--color-tooltip-bg);
  color: var(--color-tooltip-text);
  white-space: nowrap;
  font-size: var(--font-size-tooltip);
}

.target {
  position: relative;
}
