.tooltip {
  position: absolute;
  z-index: 1000;
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  white-space: nowrap;
  font-size: var(--font-size-tooltip);
}

.tooltip--light {
  border-color: var(--color-light-tooltip-border);
  background-color: var(--color-light-tooltip-bg);
  color: var(--color-light-tooltip-text);
}

.tooltip--dark {
  border-color: var(--color-dark-tooltip-border);
  background-color: var(--color-dark-tooltip-bg);
  color: var(--color-dark-tooltip-text);
}

.target {
  position: relative;
}
