.list {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 1rem;
}

.list--light {
  border-color: var(--color-light-border);
}

.list--dark {
  border-color: var(--color-dark-border);
}

.item:not(:last-child) {
  margin-right: 1%;
}
