.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--color-border);
}

.item:not(:last-child) {
  margin-bottom: 1rem;
}

.title {
  color: var(--color-text-heading);
  font-size: var(--font-size-h5);
}

.link {
  display: block;
  padding: 0.5rem;
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  text-decoration: none;
  font-size: var(--font-size-button);
}
