.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
}

.item--light {
  border-color: var(--color-light-border);
}

.item--dark {
  border-color: var(--color-dark-border);
}

.item:not(:last-child) {
  margin-bottom: 1rem;
}

.title {
  font-size: var(--font-size-h5);
}

.title--light {
  color: var(--color-light-text-heading);
}

.title--dark {
  color: var(--color-dark-text-heading);
}

.link {
  display: block;
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  font-size: var(--font-size-button);
}

.link--light {
  border-color: var(--color-light-button-border);
  background-color: var(--color-light-button-bg);
  color: var(--color-light-button-text);
}

.link--dark {
  border-color: var(--color-dark-button-border);
  background-color: var(--color-dark-button-bg);
  color: var(--color-dark-button-text);
}
