.container {
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
}

.container--light {
  border-color: var(--color-light-border);
  background-color: var(--color-light-section-bg);
}

.container--dark {
  border-color: var(--color-dark-border);
  background-color: var(--color-dark-section-bg);
}

.title {
  margin-bottom: 1rem;
  text-align: center;
  font-size: var(--font-size-h2);
}

.title--light {
  color: var(--color-light-text-heading);
}

.title--dark {
  color: var(--color-dark-text-heading);
}
